/* div.CodeMirror,
div.CodeMirror pre {
 font-family: D2Coding;
 font-size: 18pt;
 line-height: 140%;
} 

.output_result pre {
  font-family: D2Coding;
  font-size: 16pt;
  line-height: 120%;
} 

.output_stdout pre {
  font-family: D2Coding;
  font-size: 16pt;
  line-height: 120%;
} 

.text_cell_render {
  font-family: D2Coding;
  font-size: 12pt;
} 

table.dataframe {
  font-family: D2Coding;
  font-size: 12pt;
}  */